DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3001/auth/discord/callback
DISCORD_GUILD_ID=
SESSION_SECRET=replace_with_a_long_random_string
CLIENT_URL=http://localhost:5173
PORT=3001
REDIS_URL=
NODE_ENV=development
